* {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#app {
  height: 100vh;
  text-align: center;
}

#sidebar {
  height: 100%;
  overflow: auto;
  background-color: grey;
  white-space: nowrap;
  border-right: 5px solid blue;
}

#main-window {
height: 100%;
}

#query-window {
  height: 100%;
}

#query-handlers-bar {
  position: absolute;
  height: 1.5rem;
  width: 100%;
  z-index: 1;
  background-color: #04FF04;
}

#query-area {
  top: 1.5rem;
  position: relative;
  height: calc(100% - 1.5rem);
}

#query-input {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  resize: none;
  border: none;
}

.modal-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.modal-container__background {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: relative;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  width: 500px;
  height: 500px;
  background-color: grey;
}

.modal-content-responsive {
  position: relative;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  width: 50%;
  height: 50%;
  background-color: grey;
}

.modal-content__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: #333333;
}

.modal-content__title {
  color: white;
}

.modal-content__body {
  height: calc(100% - 2rem);
  width: 100%;
  overflow: auto;
}

.modal-content__body_table {
  border-spacing: 0;
}

.modal-content__body_table-head {
  background-color: grey;
}

.modal-content__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  height: 2rem;
  width: 2rem;
}

.modal-content__close-button:hover {
  background-color: red;
}

.connection-settings__pane {
  padding: 20px;
}

.connection-settings__pane-input-line {
  display: flex;
  padding-bottom: 20px;
}

.connection-settings__pane-labels {
  width: 40%;
  text-align: left;
}

.success {
  color: #04FF04;
  font-size: 14pt;
  font-weight: bold;
}

.failure {
  color: red;
  font-size: 14pt;
  font-weight: bold;
}

.connection-settings-show {
  display: flex;
  align-items: center;
  height: 2rem;
  padding-left: 20px;
  background-color: #333333;
}

.server {
  background-color: grey;
}

.sidebar-nested-block {
  padding-left: 20px;
  text-align: left;
}

.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.clickable {
  cursor: pointer;
}

.results-window-pane {
  background-color: #BBBBBB;
  color: #8B0000;
}

.table-wrapper {
  height: 100%;
  color: white;
  overflow: auto;
}
.table {
  display: block;
  border-spacing: 0;
}
.th {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  background-color: #333333;
}
.td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  background-color: #888888;
}
.resizer {
  display: block;
  background: blue;
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
}

.table-data-structure {
  color: black;
  padding: 10px;
}

.table-data-structure td {
  padding: 5px;
  border: 1px solid blue;
  background-color: white;
}

.table-data-structure th {
  padding: 5px;
  border: 1px solid blue;
  background-color: #BBBBBB;
}

.table-cell-data {
  padding: 10px;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.loader-content {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
