#app {
  height: 100vh;
  text-align: center;
}

#sidebar {
  height: 100%;
  overflow: auto;
  background-color: aqua;
  white-space: nowrap;
}

#main-window {
height: 100%;
}

#query-window {
  height: 100%;
  background-color: pink;
}

#query-area {
  padding: 5px;
}

#query-input {
  box-sizing: border-box;
  width: 100%;
}

.popup-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 2;
  /* background-color: rgba(0, 0, 0, 0.6) */
}

.popup-container__background {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
  position: relative;
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: aquamarine;
}

.popup-content__header {
  height: 2rem;
  background-color: #333333;
}

.popup-content__title {
  color: white;
}

.popup-content__body {
  background-color: aquamarine;
}

.popup-content__close-button {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 2rem;
  width: 2rem;
  background-color: red;
}

.connection-settings-show {
  cursor: pointer;
  width: 100%;
  background-color: #333333;
}

.server {
  background-color: grey;
}

.sidebar-nested-block {
  padding-left: 20px;
  text-align: left;
}

.db-table {
  background-color:rgb(164, 107, 107)
}

.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.input-box {
  width: 300px;
  margin: auto;
}

.input-box .btn {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  border: none;
  margin: 20px 0 0 20px;
  padding: 0 8px;
  cursor: pointer;
}

.input-box .btn:hover {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #333333;
}

.input-box .input {
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 1);
  -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.output-box {
  margin-top: 20px;
  background: red;
}

.clickable {
  cursor: pointer;
}

.table-wrapper {
  height: 100%;
  color: white;
  overflow: auto;
}
.table {
  display: block;
  border-spacing: 0;
}
.th {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.resizer {
  display: block;
  background: blue;
  width: 4px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
}
